<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%#---------------- LOGO A GAUCHE ---------------------------------------- %>
    <a class="navbar-brand" href="/">
      <img
        src="<%= image_path('logo.png') %>"
        alt="" width="60" height="50">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <%#---------------- HOME ---------------------------------------- %>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/cars">Accueil</a>
        </li>
        <%#---------------- Dropdown + voitures ---------------------------- %>
        <li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
     aria-expanded="false">
    Les voitures les plus loués :
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <% Car.select(:brand).distinct.limit(5).each do |car| %>
      <li class="p-2"><a class="dropdown-item" href="/cars/<%= car.brand %>"><%= car.brand %></a></li>
    <% end %>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="/cars"> Voir toutes les voitures </a></li>
          </ul>
        </li>
      </ul>
        <%#---------------- Mon compte ---------------------------------------- %>
        <form class="d-flex">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">


          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
     aria-expanded="false">
     <% if user_signed_in? %>
    <%= current_user.email %>
    <% else %>
    <%= link_to "Me connecter", new_user_session_path, class: "nav-link" %>
    <% end %>
  </a>
<div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
<%= link_to "Me déconnecter", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
</div>
          </li>
        </ul>
      </form>
    </div>
  </div>
</nav>
