<!-- banner + image de la voiture -->

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="<%= image_path('banner.png') %>" class="img-fluid w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h1><%= @car.model %></h1>
      </div>
    </div>
  </div>
</div>

<div class="bg-white">

<div class="container pt-5 position-relative p-5 ">
<div class="d-grid gap-2 d-md-flex justify-content-md-end ">
<%= link_to raw('<i class="fa-solid fa-arrow-rotate-left"></i> Retour à la liste des voitures'), :back, class: 'btn btn-secondary me-md-2' %>
</div>
<h1><%= @car.model %>, modèle <%= @car.brand %> (<%= @car.year_of_production %>) </h1>
<p><strong>Prix :</strong> <%= @car.price_per_day %>€ / jour</p>
<p><strong>Adresse :</strong> <%= @car.address %></p>
<p><strong>Loué par :</strong> <%= @car.user.email %></p>
<hr>

<div class="col-md-5">
<div class="border p-5 rounded">
<h2>Réserver cette voiture</h2>


<%= simple_form_for([@car, @booking]) do |f| %>

<%= f.input :starts_at,
placeholder: "Ajouter la date de départ voulue",
            label: "Début de la location",
            dateFormat: "d-m-Y",
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>

<%= f.input :ends_at,
placeholder: "Ajouter la date de fin voulue",
            label: "Fin de la location",
            dateFormat: "d-m-Y",
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>


  <div class="form-actions">
    <%= f.button :submit, 'Réserver la voiture', class:"btn btn-primary mt-3" %>
  </div>
<% end %>
<br><br><br><br>
  </div>
</div>
</div>
</div>
